body {
  background-image: url('./hylian-emblem.svg');
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center top 300px;
  font-family: 'Proza Libre', sans-serif;
  margin: 0;
}

.overlay-shade {
  background-color: rgba(0, 0, 0, 0.675);
  height: 100vh;
  width: 100vw;
  top: 0;
  position: absolute;
}

ul {
  list-style: none;
}

li {
  white-space: pre;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  letter-spacing: -0.12rem;
  /* stylelint-disable-next-line font-family-name-quotes */
  font-family: 'Space Grotesk', sans-serif;
  cursor: pointer;
}

.menu-drawer {
  width: 20rem;
  border: 2px solid black;
  border-left: none;
  border-top: none;
  border-bottom: none;
  height: 100vh;
  z-index: 1;
  position: absolute;
  background-color: white;
  transition: transform 0.2s ease-in-out;
}

.closed {
  transform: translateX(-325px);
}

.open {
  transform: translateX(0);
}

.hamburger-container {
  padding: 0.4rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

.header {
  text-align: center;
}

.header-open {
  text-align: center;
  padding-top: 3.2rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-top: 4rem;
  display: inline-block;
}
