.i-button {
  color: black;
  background-color: red;
}

.know-button {
  color: black;
  background-color: rgb(36, 109, 46);
}

.react-button {
  color: black;
  background-color: rgb(33, 222, 239);
}
