body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.column-main {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indicators {
  display: flex;
}
