/* * {
  border: 2px solid black ;
} */

.container {
  max-width: 900px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding: 0 1.5rem;
}

.row-100{
  display: flex;
}

.row {
  display: flex;
}

button {
  margin: 0 auto;
  font-size: 0.6rem;
  font-weight: bold;
  width: 120px;
  line-height: 20px;
  color: rgb(209, 76, 69);
  border: 2px solid rgb(209, 76, 69);
}

.header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 500px;
  padding: 2rem;
}

h1 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

p {
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 15px;
}

img {
  height: 55px;
  width: 55px;
  margin-right: 0;
}

.column-half {
  width: 50%;
}

.column-three-fourth {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  width: 75%;
  padding: 1rem 0;
}

.column-fourth {
  display: flex;
  justify-content:end;
  width: 25%;
  margin: 0;
}

h3 {
  font-size: 0.6rem;
}

.column-titles {
  font-size: 0.65rem;
  font-weight: bold;
}
