body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 5rem 0.5rem;
}

.topic-card-wrapper {
  padding: 0 5rem;
}

.title,
p,
.content {
  width: 20rem;
}

.title {
  border: 1px solid blue;
  background-color: blue;
  padding: 0.5rem;
  list-style: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.4rem;
  display: block;
  border-radius: 5px;
}

p {
  text-align: justify;
  font-family: 'Saira Extra Condensed', sans-serif;
  padding: 0.1rem 0.8rem;
  font-size: 1rem;
  border: 1px solid rgb(14, 13, 13);
  margin: 0;
  border-radius: 5px;
}
