body {
  font-family: 'Roboto Condensed', sans-serif;
}

li {
  border: 1px solid blue;
  background-color: blue;
  width: 15rem;
  padding: 0.5rem;
  list-style: none;
  color: white;
  cursor: pointer;
  margin: 0;
  font-weight: 600;
}

ul {
  padding: 3rem 5rem;
}

p {
  font-family: 'Saira Extra Condensed', sans-serif;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  width: 15rem;
  border: 1px solid rgb(14, 13, 13);
  margin: 0;
  white-space: break-spaces;
}

.content {
  padding: 0 5rem;
}
