/* stylelint-disable function-url-quotes */
.container {
  width: 1000px;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 1.5rem 4rem;
  border-bottom: 1px solid rgba(151, 151, 151, 0.123);
  align-items: center;
  margin-bottom: 3rem;
}

.logo {
  width: 16%;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  height: 1rem;
  flex-basis: 65%;
  align-items: center;
  line-height: 3;
}

.navigation > * {
  margin-left: 3rem;
  font-size: 0.8rem;
  color: rgb(164, 164, 164);
  font-family: Avenir, sans-serif;
  white-space: nowrap;
}

.blog {
  margin-right: 0.8rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(41, 68, 100);
  background-color: rgb(41, 68, 100);
  color: white;
  border-radius: 4px;
  padding: 0 1rem;
  margin-left: 0.8rem;
}

.hero {
  background-image: url(./images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 3rem 4rem;
  max-width: 100%;
}

.get-started {
  display: inline-flex;
  justify-content: center;
  color: white;
  background-color: rgb(41, 68, 100);
  border-radius: 4px;
  line-height: 3;
  padding: 0 2.5rem;
  font-family: Avenir, sans-serif;
}

.hero-inside {
  font-family: Avenir, sans-serif;
  max-width: 55%;
  color: white;
  padding: 4.5rem 2rem;
  position: relative;
  z-index: 2;
  margin: 2rem;
}

.hero-inside h1 {
  font-family: 'Tiempos Headline', Courier, monospace;
  font-weight: normal;
  margin: 0;
  font-size: 1.9rem;
}

.hero-inside p {
  font-size: 0.8rem;
  line-height: 1.4rem;
  margin-bottom: 1.5rem;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(99, 98, 98, 0.392),
    rgba(99, 98, 98, 0.392)
  );
  z-index: 1;
}

section {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  font-family: Avenir, sans-serif;
  font-size: 0.9rem;
  color: rgb(122, 122, 122);
  filter: grayscale(90%);
  background-color: rgba(245, 246, 247, 0.445);
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.115);
}

.row {
  display: flex;
  text-align: center;
  line-height: 1;
  justify-content: space-between;
  gap: 9rem;
}

h2 {
  font-family: 'Tiempos Headline', Courier, monospace;
  font-size: 1.8rem;
  font-weight: 100;
}

h4 {
  text-align: left;
  font-size: 1.7rem;
  letter-spacing: -0.1rem;
}

#physician-owned {
  line-height: 1.7;
  margin-bottom: 3rem;
  text-align: center;
}

.ready {
  padding: 1.5rem 4rem;
  align-items: center;
  line-height: 0.1;
}

p {
  text-align: left;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(85, 84, 84, 0.898);
  color: white;
}

.footer-column {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 2rem;
}

.row-bottom {
  display: flex;
  border: 1px solid black;
}

.white-logo {
  width: 4rem;
  max-height: 100% ;
}

.column-half {
  width: 50%;
  display: flex;
}
