/* stylelint-disable function-url-quotes */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

header {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 1.5rem 4rem;
  border-bottom: 1px solid rgba(151, 151, 151, 0.123); /* This will only create a bottom border */
}

.logo {
  width: 16%;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 2rem;
  flex-basis: 65%;
  align-items: center;
  line-height: 2;
}

.navigation > * {
  margin-left: 1.5rem;
  font-size: 1.1rem;
  color: rgb(164, 164, 164);
  font-family: Avenir, sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(41, 68, 100);
  background-color: rgb(41, 68, 100);
  color: white;
  border-radius: 4px;
  padding: 0 1rem;
  margin-left: 0.8rem;
}

.hero {
  background-image: url(./images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 4rem;
  filter: contrast(70%);
}

.get-started {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(41, 68, 100);
  border-radius: 4px;
  width: 35%;
  line-height: 2.5;
  padding: 0 1rem;
}

.hero-inside {
  font-family: Avenir, sans-serif;
  max-width: 58%;
  margin: 2em 1.5em;
  color: white;
  padding: 2.5rem;
}

.hero-inside h1 {
  font-family: 'Tiempos Headline', Courier, monospace;
  font-weight: normal;
  margin: 0;
  font-size: 1.8rem;
}

.hero-inside p {
  font-size: 0.9em;
  line-height: 1.6;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
